# FelineMetrics: Cleaning Data

In [33]:
# import numpy as np
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

# my modules
#import options

## Creating `pets.csv`

Python code to create `pets.csv`

```python
pets_cols = ['petID', 'name', 'species', 'breed', 'birthdate', 'is_active', 'deathdate', 'age']

pets = pd.DataFrame(columns = pets_cols)

pet_info = pd.DataFrame[{
        'petID': 0, 
        'name': 'Sebastian', 
        'species': 'cat', 
        'breed': 'siberian', 
        'birthdate': date(2005, 6, 15), 
        'is_active': False, 
        # 'age': 6,
        'deathdate': date(2011, 6, 20)
    },
    {
        'petID': 1, 
        'name': 'Mel', 
        'species': 'cat', 
        'breed': 'siberian', 
        'birthdate': date(2011, 8, 5), 
        'is_active': True, 
        # 'age': relativedelta(date.today(), date(2011, 8,5)),
        'deathdate': None
    }]

pets = pd.concat([pets, pets_info], ignore_index=True)

pets = pd.DataFrame[pet_data]

def age(pet):
    alive = pet['is_active']
    birth = pet['birthdate']
    death = pet['deathdate']
    if alive:
        return relativedelta( date.today(), birth )
    else:
        return relativedelta( death, birth )

pets['age'] = pets.apply(age, axis=1)

pets.to_csv('./data/pets.csv', index=False)
```

## Read Pet Data

In [8]:
df = pd.read_csv('./data/pets.csv')

df

,petID,name,species,breed,birthdate,is_active,deathdate,age
0,0,Sebastian,cat,siberian,2005-06-15,False,2011-06-20,"relativedelta(years=+6, days=+5)"
1,1,Mel,cat,siberian,2011-08-05,True,NaN,"relativedelta(years=+13, months=+10, days=+28)"

## General Files

`clinics.csv`, `vets.csv`

### Vets

In [11]:
vets= pd.read_csv('./data/vets.csv')

In [13]:
vets.sort_values(by='vet_id')

,last_name,first_name,clinic_id,vet_id,vet_short,notes
9,NaN,NaN,breeder,1,breeder,NaN
0,Ironmonger,Rebecca,park_vet,2,ironmonger,NaN
3,Dorsch,Tammy,park_vet,3,dorsch,NaN
1,Allen,Kate,freeport_urgent,4,allen,NaN
7,Samson,NaN,yarmouth,5,samson,NaN
5,Smith,Zach,yarmouth,6,smith_zach,NaN
2,Miller,Rosalind,yarmouth,7,miller,NaN
6,Smith,Peter,yarmouth,8,smith_peter,NaN
4,Fox,Kenneth,wecare,9,fox,NaN
8,Weber,Melissa,three_notch,10,weber,NaN
10,NaN,NaN,park_vet,11,unk_spay,performed spay in early 2012
11,NaN,NaN,park_vet,12,unk_2018,2018 annual exam

In [88]:
vets = vets.set_index('vet_id')

In [91]:
vets = vets.sort_values(by='vet_id')

In [101]:
vets

,last_name,first_name,clinic_id,vet_short,notes
vet_id,,,,,
1,NaN,NaN,breeder,breeder,NaN
2,Ironmonger,Rebecca,park_vet,ironmonger,Mel's primary vet: 2011 -- 2015
3,Dorsch,Tammy,park_vet,dorsch,Mel's primary vet: 2021 -- 2022
4,Allen,Kate,freeport_urgent,allen,NaN
5,Samson,NaN,yarmouth,samson,NaN
6,Smith,Zach,yarmouth,smith_zach,NaN
7,Miller,Rosalind,yarmouth,miller,Mel's primary vet: 2024 -- 2025
8,Smith,Peter,yarmouth,smith_peter,NaN
9,Fox,Kenneth,wecare,fox,NaN
10,Weber,Melissa,three_notch,weber,NaN
11,NaN,NaN,park_vet,unk_spay,performed spay in early 2012
12,NaN,NaN,park_vet,unk_2018,2018 annual exam

In [99]:
vets.loc[2,'notes'] = "Mel's primary vet: 2011 -- 2015"

In [100]:
vets.loc[3, 'notes'] = "Mel's primary vet: 2021 -- 2022"
vets.loc[7, 'notes'] = "Mel's primary vet: 2024 -- 2025"

In [102]:
vets.to_csv('data/vets_clean.csv')

### Clinics

In [113]:
clinics = pd.read_csv('./data/clinics.csv')

clinics

,clinic_id,clinic_name,phone,address,website,text,email
0,park_vet,Park Vet Clinic,(301) 863-9222,"21367 Great Mills Rd, Lexington Park, MD 20653",NaN,NaN,NaN
1,yarmouth,Yarmouth Veterinary Center,(207) 846-6515,"5 Environmental Dr, Cumberland Foreside, ME 04110",NaN,NaN,clients@yarmouthvet.com
2,freeport_urgent,Pet Medic Urgent Care (Freeport),(207) 805-5398,"200 Lower Main St, Freeport, ME 04032",petmedicurgentcare.com,NaN,NaN
3,three_notch,Three Notch Vet Hospital,(301) 373-8633,"44215 Airport View Dr, Hollwood, MD 20636",www.threenotch.com,NaN,NaN
4,wecare,Waldorf Emergency Care,(301) 705-9700,"3485 Rockfeller Ct, Waldorf, MD 20602",www.waldorfemergencycare.com,NaN,info@waldorfemergencycare.com
5,breeder,vaccines given by breeder and/or vet,NaN,NaN,NaN,NaN,NaN

In [119]:
clinics

,clinic_id,clinic_name,phone,address,website,text,email
0,park_vet,Park Vet Clinic,(301) 863-9222,"21367 Great Mills Rd, Lexington Park, MD 20653",NaN,NaN,NaN
1,yarmouth,Yarmouth Veterinary Center,(207) 846-6515,"5 Environmental Dr, Cumberland Foreside, ME 04110",https://www.yarmouthvetcenter.com/,(207) 846-6515,clients@yarmouthvet.com
2,freeport_urgent,Pet Medic Urgent Care (Freeport),(207) 805-5398,"200 Lower Main St, Freeport, ME 04032",petmedicurgentcare.com,NaN,NaN
3,three_notch,Three Notch Vet Hospital,(301) 373-8633,"44215 Airport View Dr, Hollwood, MD 20636",https://vcahospitals.com/three-notch,NaN,NaN
4,wecare,Waldorf Emergency Care,(301) 705-9700,"3485 Rockfeller Ct, Waldorf, MD 20602",www.waldorfemergencycare.com,NaN,info@waldorfemergencycare.com
5,breeder,vaccines given by breeder and/or vet,NaN,NaN,NaN,NaN,NaN

In [114]:
clinics.loc[1,'website'] = 'https://www.yarmouthvetcenter.com/'

In [115]:
clinics.loc[1,'text'] = '(207) 846-6515'

/var/folders/ty/qfl4p5vd2d3cxdrb54zzgq9w0000gn/T/ipykernel_22334/2050979090.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '(207) 846-6515' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  clinics.loc[1,'text'] = '(207) 846-6515'

In [117]:
clinics.loc[3,'website'] = 'https://vcahospitals.com/three-notch'

In [120]:
clinics.to_csv('data/clinics_clean.csv')

## Pet Files

Each pet has the following files:
* `incidents.csv`
* `bloodwork.csv`
* `prescription.csv`
* `vaccines.csv`
* `weight.csv`

### Incidents

In [59]:
# col_types = {'vet_short': str, 'vet_id': int, }

mel_incidents = pd.read_csv('data/mel/raw/incidents.csv')

In [49]:
mel_incidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19 non-null     object
 1   vet_short    19 non-null     object
 2   vet_id       19 non-null     int64
 3   clinic_id    19 non-null     object
 4   cost         7 non-null      float64
 5   incident_id  19 non-null     int64
 6   type         19 non-null     object
 7   notes        7 non-null      object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ KB

In [50]:
month, day, year = mel_incidents['date'][0].split('/')
date(int(year), int(month), int(day))

datetime.date(2025, 5, 12)

In [51]:
def parse_date(date_str):
    month, day, year = date_str.split('/')
    return date(int(year), int(month), int(day))

In [52]:
parse_date(mel_incidents['date'][4])

datetime.date(2011, 11, 7)

In [53]:
mel_incidents['date'][4]

'11/7/2011'

In [94]:
mel_incidents['date'] = mel_incidents['date'].apply(parse_date)

In [95]:
mel_incidents

,date,vet_short,vet_id,clinic_id,cost,incident_id,type,notes
0,2025-05-12,miller,7,yarmouth,308.94,1016,annual exam,NaN
1,2023-04-27,samson,5,yarmouth,134.00,1012,"follow up, annual exam",dental cleaning recommended
2,2023-06-12,smith_zach,6,yarmouth,365.42,1013,dental cleaning,NaN
3,2024-07-19,smith_peter,8,yarmouth,180.00,1015,dental cleaning,NaN
4,2011-11-07,ironmonger,2,park_vet,NaN,1001,new kitten,NaN
5,2011-11-28,ironmonger,2,park_vet,NaN,1002,annual exam,vaccines
6,2012-03-01,unk,11,park_vet,NaN,1003,spay,NaN
7,2012-11-01,ironmonger,2,park_vet,NaN,1004,annual exam,NaN
8,2013-11-01,ironmonger,2,park_vet,NaN,1005,annual exam,NaN
9,2014-11-01,ironmonger,2,park_vet,NaN,1006,annual exam,NaN
10,2015-11-01,ironmonger,2,park_vet,NaN,1007,annual exam,"can return in 3 yr, if no problems"
11,2021-07-27,dorsch,3,park_vet,NaN,1009,annual exam,NaN
12,2022-07-14,dorsch,3,park_vet,NaN,1010,annual exam,bloodwork
13,2023-03-27,allen,4,freeport_urgent,0.00,1011,emergency,NaN
14,2024-06-01,miller,7,yarmouth,NaN,1014,annual visit,"dental clean rec, needs to lose 1 lb"
15,2025-06-22,fox,9,wecare,895.98,1017,emergency,"limp, not broken, follow up with regular vet i..."
16,2018-11-01,unk,12,park_vet,NaN,1008,annual exam,NaN
17,2025-06-26,weber,10,three_notch,264.95,1018,follow up,"return in two weeks if no improvement, improve..."
18,2011-10-31,breeder,1,breeder,NaN,1000,vaccine,NaN

In [60]:
mel_incidents.to_csv('data/mel/incidents_clean.csv')

In [96]:
mel_incidents.sort_values(by='date')

,date,vet_short,vet_id,clinic_id,cost,incident_id,type,notes
18,2011-10-31,breeder,1,breeder,NaN,1000,vaccine,NaN
4,2011-11-07,ironmonger,2,park_vet,NaN,1001,new kitten,NaN
5,2011-11-28,ironmonger,2,park_vet,NaN,1002,annual exam,vaccines
6,2012-03-01,unk,11,park_vet,NaN,1003,spay,NaN
7,2012-11-01,ironmonger,2,park_vet,NaN,1004,annual exam,NaN
8,2013-11-01,ironmonger,2,park_vet,NaN,1005,annual exam,NaN
9,2014-11-01,ironmonger,2,park_vet,NaN,1006,annual exam,NaN
10,2015-11-01,ironmonger,2,park_vet,NaN,1007,annual exam,"can return in 3 yr, if no problems"
16,2018-11-01,unk,12,park_vet,NaN,1008,annual exam,NaN
11,2021-07-27,dorsch,3,park_vet,NaN,1009,annual exam,NaN
12,2022-07-14,dorsch,3,park_vet,NaN,1010,annual exam,bloodwork
13,2023-03-27,allen,4,freeport_urgent,0.00,1011,emergency,NaN
1,2023-04-27,samson,5,yarmouth,134.00,1012,"follow up, annual exam",dental cleaning recommended
2,2023-06-12,smith_zach,6,yarmouth,365.42,1013,dental cleaning,NaN
14,2024-06-01,miller,7,yarmouth,NaN,1014,annual visit,"dental clean rec, needs to lose 1 lb"
3,2024-07-19,smith_peter,8,yarmouth,180.00,1015,dental cleaning,NaN
0,2025-05-12,miller,7,yarmouth,308.94,1016,annual exam,NaN
15,2025-06-22,fox,9,wecare,895.98,1017,emergency,"limp, not broken, follow up with regular vet i..."
17,2025-06-26,weber,10,three_notch,264.95,1018,follow up,"return in two weeks if no improvement, improve..."

### Bloodwork

In [63]:
mel_bloodwork = pd.read_csv('data/mel/raw/bloodwork.csv')

In [66]:
mel_bloodwork['date']= mel_bloodwork['date'].apply(parse_date)

In [67]:
# save cleaned data
mel_bloodwork.to_csv('data/mel/bloodwork_clean.csv')

### Prescription

In [69]:
mel_prescriptions = pd.read_csv('data/mel/raw/prescription.csv')

In [123]:
mel_prescriptions

,date,medication,reason,dose,units,frequency,incident_id,vet_id,clinic_id,comments
0,2025-06-30,gabapentin,pain,50,mg,12-24 hours,1018,10,three_notch,tablet
1,2025-06-30,robenacoxib (onsior),pain/inflammation,6,mg,24-48 hours,1018,10,three_notch,tablet
2,2025-06-22,gabapentin,pain,50,mg/ml,8 - 12 hours,1017,9,wecare,liquid
3,2025-06-22,robenacoxib (onsior),inflammation,6,mg,24 hours,1017,9,wecare,tablet

In [72]:
mel_prescriptions['date'] = mel_prescriptions['date'].apply(parse_date)

In [76]:
mel_prescriptions.loc[0,'vet_id'] = 10
mel_prescriptions.loc[1,'vet_id'] = 10
mel_prescriptions.loc[2,'vet_id'] = 9
mel_prescriptions.loc[3,'vet_id'] = 9

In [77]:
mel_prescriptions

,date,medication,reason,dose,units,frequency,incident_id,vet_id,clinic_id,comments
0,2025-06-30,gabapentin,pain,50,mg,12-24 hours,1018,10,three_notch,tablet
1,2025-06-30,robenacoxib (onsior),pain/inflammation,6,mg,24-48 hours,1018,10,three_notch,tablet
2,2025-06-22,gabapentin,pain,50,mg/ml,8 - 12 hours,1017,9,wecare,liquid
3,2025-06-22,robenacoxib (onsior),inflammation,6,mg,24 hours,1017,9,wecare,tablet

In [126]:
mel_prescriptions.loc[0,'vet_id']

10

In [132]:
def lookup_vet_short(vet_id):
    return vets[vets.index == vet_id]['vet_short']

In [135]:
for i in mel_prescriptions.index:
    print(lookup_vet_short(mel_prescriptions.loc[i,'vet_id']))

vet_id
10    weber
Name: vet_short, dtype: object
vet_id
10    weber
Name: vet_short, dtype: object
vet_id
9    fox
Name: vet_short, dtype: object
vet_id
9    fox
Name: vet_short, dtype: object

In [171]:
mel_prescriptions.to_csv('data/mel/prescriptions_clean.csv')

### Vaccines

In [145]:
vaccines = pd.read_csv('data/mel/raw/vaccines.csv')

In [147]:
vaccines['date'] = vaccines['date'].apply(parse_date)

In [151]:
vaccines = vaccines.sort_values(by='date')

In [158]:
vaccines = vaccines.reset_index(drop = True)

In [159]:
vaccines

,date,vaccine,next_due,incident_id,vaccine_id,comments
0,2011-10-31,cpp,NaN,1000,NaN,NaN
1,2011-10-31,FVRCP,11/1/2012,1000,fvrcp_3,NaN
2,2011-11-28,NaN,NaN,1002,NaN,NaN
3,2012-11-01,"rabies, 3 yr",11/1/2015,1004,rabies_3,NaN
4,2012-11-01,FVRCP,11/1/2013,1004,fvrcp_1,NaN
5,2013-11-01,FVRCP,11/1/2014,1005,fvrcp_1,NaN
6,2014-11-01,FVRCP,11/1/2015,1006,fvrcp_1,NaN
7,2015-11-01,"rabies, 3 yr",11/1/2018,1007,rabies_3,NaN
8,2015-11-01,distemper,11/1/2018,1007,fvrcp_3,NaN
9,2018-11-01,FVRCP,11/1/2019,1008,fvrcp_1,"vaccine good for 3 yr, licsenced for 1 yr"
10,2018-11-01,rabies,11/1/2021,1008,rabies_3,NaN
11,2021-07-27,rabies,7/27/2024,1009,rabies_3,NaN
12,2021-07-27,FVRCP,7/27/2024,1009,fvrcp_3,NaN
13,2023-04-27,"rabies feline purevax, 1 yr",4/26/2024,1012,rabies_1,NaN
14,2024-06-07,"FVRCP vaccine, 3 yr",6/7/2027,1014,fvrcp_3,NaN
15,2024-06-07,"rabies feline purevax, 1 yr",6/7/2025,1014,rabies_1,NaN
16,2025-05-12,"rabies feline purevax, 1 yr",5/12/2026,1016,rabies_1,NaN

In [160]:
vaccines.to_csv('data/mel/vaccines_clean.csv')

### Weight

In [161]:
weight = pd.read_csv('data/mel/raw/weight.csv')

In [163]:
weight

        date  weight (lbs)     location                          notes
0  5/12/2025          7.50     yarmouth  good weight, stay below 8 lbs
1  7/14/2025          7.79         home                            NaN
2  7/16/2025          7.74         home                            NaN
3  6/22/2025          7.72       wecare                            NaN
4  6/30/2025          7.94  three_notch                            NaN
5  7/18/2025          7.68         home                            NaN

In [164]:
weight['date'] = weight['date'].apply(parse_date)

In [167]:
weight = weight.sort_values(by='date')

In [169]:
weight = weight.reset_index(drop=True)

In [170]:
weight.to_csv('data/mel/weight_clean.csv')